* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  padding: 20px;
  background-color: rgb(1, 7, 12);
  color: rgb(222, 230, 236);
}

h2{
  font-size: 2rem;
}

input{
  width: 100%;
  font-size: 1.3rem;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  overflow: hidden;
  margin: 3px 5px;
 
}

.card img{
  height: 150px;
}

